.anim{
    animation: anim1 3s  infinite;
}

@keyframes anim1 {
    0% {
        transform: translateX(0px);
    }
    1% {
        transform: translateX(-2px);
        transform: rotate(10deg);
    }
    2% {
        transform: translateX(0px);
    }
    
    100% {
        transform: translateX(0px);
    }
}