wd-50 {
    width: 50% !important;
}
.btm {
    padding: 10px 50px !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #0c8ce9;
    
}

.table-top {
    border-top-left-radius: 15rem !important;
    border-top-right-radius: 15rem !important;
}


.up:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
.text {
    color: #0c8ce9;
}





/* input */



