.dropAni {
    top: -21rem;
    animation-name: identifier;
    animation-duration: 1s;
    animation-direction: alternate;
}

@keyframes identifier {
    from {top: 3rem;}
    to {top: -21rem;}
}

.dropAni2 {
    top: 3rem;
    animation-duration: 1s;
    animation-name: identifier2;
    animation-direction: alternate;
}

@keyframes identifier2 {
    from {top: -21rem;}
    to {top: 3rem;}
}