@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;1,300;1,400&family=Inika:wght@400;700&family=Lora:ital@0;1&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&family=Space+Mono:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.code-error::placeholder {
    color: #c12f2f;
}

.code-success::placeholder {
    color: #32c12f;
}

.code-no::placeholder {
    color: white;
}